.nav-menu {
  background-color: white;
  width: 100%;
  padding: 1rem;
}

.nav-container {
  display: flex;
  justify-content: space-between;

  @media screen and (max-width: 640px) {
    flex-direction: column;
  }
}

.nav-menu-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30%;
}

.nav-link__svg {
  background-color: white;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0.8rem;
  border-radius: 0.5rem;
  transition: all 0.3s ease-in-out;
  margin-left: 1rem;
  display: flex;
  align-items: center;
  font-size: 1.05em;
  font-weight: 500;

  &:hover {
    background-color: #f1f1f1;
  }

  & .link__title {
    margin-left: 1.5rem;
  }
}

.nav-link__cart-const {
  margin-left: 1rem;
  font-weight: 700;
  transition: width 1s ease-in-out, left 1.5s ease-in-out;
}

.nav-menu-auth {
  display: flex;

  @media screen and (max-width: 640px) {
    justify-content: center;
  }

  @media screen and (max-width: 575px) {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
}

.nav-link__cart-count-favorite {
  margin-left: 1rem;
  font-weight: 700;
}

.nav-link__btn {
  background-color: white;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0.8rem;
  border-radius: 0.5rem;
  transition: all 0.3s ease-in-out;
  margin-left: 1rem;
  display: flex;
  align-items: center;
  font-size: 1.05em;
  font-weight: 500;

  &:hover {
    background-color: #f1f1f1;
  }

  @media screen and (max-width: 475px) {
    padding: 0.5rem;
  }
}

.nav-menu-actions {
  display: flex;
}
