@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #e4e1ff;
}

.App {
    text-align: center;
}

.container {
    width: 95rem;
    margin: auto;
}

@media screen and (max-width: 1450px) {
    .container {
        width: 100%;
    }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

button, input, select {
    transition: all .3s;
}
